<nav class="navbar navbar-expand-lg navbar-light" [ngStyle]="{'background-color': config.colorPrimary}">
  <a class="navbar-brand" (click)="goToHome()">
    <img *ngIf="config.currentConfig.logo" src="{{config.currentConfig.logo}}" width="30" height="30" class="d-inline-block align-top" alt="">
    {{config.currentConfig.name}}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" (click)="goToSavedFilter()">Mes Filtres</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" (click)="goToAdmin()">Administration</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" (click)="goToUploadCSV()">Charger des produits (CSV)</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" (click)="goToUploadURL()">Charger des produits (URL)</a>
      </li>
    </ul>
    <form class="nav-item">
      <a *ngIf="!isAuthenticated" class="nav-link" (click)="goToConnexion()">Connexion</a>
      <a *ngIf="isAuthenticated" class="nav-link" (click)="logout()">Déconnexion</a>
    </form>
  </div>
</nav>
