<div class="container">
  <div class="alert alert-danger" role="alert">
    ATTENTION: Max File size 10 Mo
  </div>
  <p-dropdown [options]="types" [(ngModel)]="selectedType"></p-dropdown>
  <br>
  <ng-template [ngIf]="selectedType">
    <div>
      <p-fileUpload (onUpload)="upload($event)" (onUpload)="error($event)"name="files" [url]=url() accept="text/csv" maxFileSize="10000000" ></p-fileUpload>
    </div>
  </ng-template>

  <ng-template [ngIf]="showResult">
    <div class="alert alert-success" role="alert">
      Import terminé
    </div>
  </ng-template>

  <ng-template [ngIf]="!showResult">
    <div class="alert alert-danger" role="alert">
      Erreur d'importation du fichier
    </div>
  </ng-template>
</div>
