<!-- Default form login -->
<form [formGroup]="checkoutForm" class="text-center border border-light p-5" (ngSubmit)="onSubmit(checkoutForm.value)">

  <img *ngIf="config.currentConfig.logo" src="{{config.currentConfig.logo}}" width="250" class="mp-2 d-inline-block align-top" alt="">


    <!-- Email -->
    <div >
      <div class="ui-inputgroup text-center p-1 justify-content-center ">
        <span class="ui-inputgroup-addon"><i class="fa fa-at"></i></span>
        <input type="email" id="login"  class="col-11" placeholder="E-mail"  formControlName="login">
      </div>
    </div>


    <!-- Password -->
    <div >
      <div class="ui-inputgroup text-center p-1 justify-content-center">
        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
        <input type="password" id="pwd" class="col-11" placeholder="Mot de pass" formControlName="pwd" >
      </div>
    </div>


    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
        </div>
      <!--
        <div>
            Forgot password
            <a href="">Forgot password?</a>
        </div>
        -->
    </div>

    <!-- Sign in button -->
    <div class="row justify-content-center ">

      <div class="col-2">
        <button type="submit"
                class="btn btnNav"
                [ngStyle]="{'background-color': config.colorPrimary, 'width': '100%'}"
        >Se connecter</button>
      </div>

      <div class="col-2">
        <button type="button"
                class="btn btn-outline-light"
                [ngStyle]="{'border-color': config.colorPrimary, 'width': '100%','color':config.colorPrimary}"
                (click)="onClickGoToRegister()"
        >S'inscrire</button>
      </div>

    </div>

    <!-- Sign in button -->


</form>
<!-- Default form login -->
