<mdb-card class="align-items-center my-2">

  <!--Card image-->
  <div class="view overlay waves-light" mdbWavesEffect>
    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" alt=""></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--Card image-->

  <!--Card content-->
  <mdb-card-body class="text-center">
    <!--Category & Title-->
    <p>
      <strong>
        <a href="" class="dark-grey-text">{{product.properties['DeviceName']}}</a>
      </strong>
    </p>

    <p class="font-weight-bold {{ config.colorPrimary+'text' }}">
      <strong>120$</strong>
    </p>

  </mdb-card-body>
  <!--Card content-->

</mdb-card>
