<section style="margin-top: 10px">
  <div>
    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" alt="" style="border: 1px solid rgba(0,0,0,0.125); border-radius: 0.35rem; width: 30%;">
    <div style="border: 1px solid rgba(0,0,0,0.125); border-radius: 0.25rem; width: 70%; float: right">
    <p class="dark-grey-text" *ngIf="product.properties['DeviceName']">{{product.properties['DeviceName']}} </p>
    <p class="dark-grey-text" *ngIf="product.properties['prix'] " >{{product.properties['prix']}}€</p>
    <p class="dark-grey-text" *ngIf="product.properties['dimensions']"> {{product.properties['dimensions']}} </p>
    <p class="dark-grey-text" *ngIf="product.properties['description']">{{product.properties['description']}} </p>
    </div>
  </div>

</section>

