<section style="">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="img-fluid" style="width: 100%;height: 15vw;object-fit: cover;"alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" *ngIf="product.properties['DeviceName']"> {{product.properties['DeviceName']}}</h5>
          <p class="card-text" *ngIf="product.properties['prix'] " >{{product.properties['prix']}}€</p>
          <p class="card-text" *ngIf="product.properties['dimensions']"> {{product.properties['dimensions']}} </p>
          <p class="card-text" *ngIf="product.properties['description']">{{product.properties['description']}} </p>

        </div>
      </div>
    </div>
  </div>
</section>

