<div class="container">
    <form class="border border-light p-5">
       <div class="modelClass">
            <div>
                    <label for="textInput" class="labelText">Name</label>
                    <input type="text" id="textInput" class="form-control mb-4" placeholder="Text input">
            </div>
           
            <div>
                    <label for="textInput"class="labelText">Technical Name</label>
                    <input type="text" id="textInput" class="form-control mb-4" placeholder="Text input">
            </div>
         
            <div>
                    <div class="custom-control custom-checkbox mb-4">
                            <input type="checkbox" class="custom-control-input" id="checkbox">
                            <label class="custom-control-label" for="checkbox">Is Activated </label>
                    </div>
            </div>
       </div> 
    </form>   
</div>
