<div class="list-group list-group-flush">
    <div class="list-group-item" id="itemCard">
        <h5 class="card-title">Model {{ model.name }}</h5>
        <div>
        <!-- Model -->
            <div class="classHorizo">
                <div class="form-group col-4">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="model.name" type="text" class="form-control"/>
                </div>
                <div class="form-group col-4">
                    <label>Technical Name</label>
                    <input type="text" [(ngModel)]="model.technicalName" class="form-control"/>
                    <p>{{model.technicalName}}</p>
                </div>
                <div class="form-group col-4">
                    <label>Is Activated</label>
                    <mdb-checkbox [(ngModel)]="model.isActivited" [default]="false"></mdb-checkbox>
                </div>
                
            </div>
            <button class="btn btn-danger" type="button" (click)="delete(model)"> Remove </button>
            <!-- Model Property
                    <div class="card m-3">
                        <h5 class="card-header">Model-Property Forms</h5>
                        <div class="card-body">
                                    <div class="form-row">
                                            <div class="form-group">
                                                    <label>Number of Model</label>
                                                    <select formControlName="numberOfModels" class="form-control" (change)="onChangeModels($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
                                                            <option value=""></option>
                                                            <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                                                    </select>
                                                            <div *ngIf="submitted && f.numberOfModels.errors" class="invalid-feedback">
                                                            <div *ngIf="f.numberOfModels.errors.required">Number of Models is required</div>
                                                    </div>
                                            </div>
                                    </div>
                            </div>
                        </div> 
            <app-model-property *ngFor="let modelProperty of model.modelProperty;let i = index" [modelProperty]="modelProperty" ></app-model-property>-->
        </div>
    </div>
</div>
                    