<div class="list-group list-group-flush">
    <div class="list-group-item" id="itemCard">
        <h5 class="card-title">Model {{ model.name }}</h5>
        <div>
        <!-- Model -->
            <div class="classHorizo">
                <div class="form-group col-2">
                    <label>Name</label>
                    <input type="text" id="{{'inputNameM'+index}}" [(ngModel)]="model.name" type="text" class="form-control"/>
                </div>
                <div class="form-group col-2">
                    <label>Technical Name</label>
                    <input type="text" id="{{'inputTechnicalNameM'+index}}" [(ngModel)]="model.technicalName" class="form-control"/>
                </div>
                <div class="form-group col-2">
                    <div class="custom-control custom-checkbox mb-3">
                            <label >Is Activated :</label>
                            <p-checkbox id="{{'checkBoxIsActivatedM'+index}}" class="checkBoxComponent" [(ngModel)]="model.isActivited" binary="false"></p-checkbox>   
                    </div>
                </div>
                <div class="form-group col-2">
                    <button id="{{'btnDeleteModel'+index}}" class="btn btn-danger" type="button" (click)="delete(model)">Remove</button>
                </div>
            </div>
            <!-- Model Property -->
                    <div class="card m-3">
                        <h5 class="card-header">Model-Property Details</h5>
                        <div class="card-body">
                                    <div class="form-row">
                                            <div class="form-group">
                                                    <div class="form-group">
                                                        <button id ="{{'btnAddModelProprety'+index}}"class="btn btn-primary m-1" type="button" (click)="addModelProperty()">add</button>
                                                    </div>
                                            </div>
                                    </div>
                        </div>
                        <app-model-property *ngFor="let modelProperty of model.modelProperties;let i = index;"
                                id="{{'modelProperty'+ i}}"
                                [index] = "i"
                                [index1] = "index1"
                                [modelProperty]="modelProperty"
                                (deleteModelProperty)="deleteModelProperty($event)"
                        ></app-model-property>
                    </div>
        </div>
    </div>
</div>
