
<div style="min-height: 100vh; margin-bottom: -56px">
  <app-header></app-header>

  <div class="container mx-auto">
    <router-outlet class="mx-auto"></router-outlet>
  </div>

  <div class="push" style="height: 56px"></div>
</div>

<app-footer style="height: 56px"></app-footer>

<p-toast position="top-center"></p-toast>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle" acceptLabel="Supprimer"
                 rejectLabel="Annuler">
  <p-footer>
    <button type="button" class="btn btn-danger" (click)=cd.accept()>
      <span class="fas fa-check"></span>
      Confirmer
    </button>
    <button type="button" class="btn btn-primary" (click)="cd.reject()">
      <span class="fas fa-times"></span>
      Annuler
    </button>
  </p-footer>
</p-confirmDialog>




