/* Add application styles & imports to this file! */
@import '~bs-stepper/dist/css/bs-stepper.min.css';

.active .bs-stepper-circle {
  background-color: #ff4444;
}


.text-title {
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  letter-spacing: -0.2px;
  word-spacing: 2px;
  font-weight: 900;
  font-variant: normal;
  text-transform: uppercase;
}

.text-label {
  font-size: 20px;
  letter-spacing: -0.6px;
  word-spacing: 1.2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

.btnNav {
  background-color: #ff4444;
  font-weight: bold;
  border-color: #ffffff;
  width: 100%;
}

.btnNav:hover,
.btnNav:active,
.btnNav:focus,
.btnNav:active {
  background: rgba(255, 51, 0, 0.692);
  color: #ffffff;
  border-color: rgba(255, 51, 0, 0.692);
}

.selectColor {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

#typeDropDown {
  margin-bottom: 30px;
}

#colorDropDown {
  width: 110px;
}

.input-group {
  margin-bottom: 40px;
}


.colorPicker {
  margin-left: -10%;
}

.checkBoxComponent {
  margin-left: 2%;
}

.accordion-toggle:after {
  content:url("https://img.icons8.com/ios-filled/24/000000/chevron-down.png");
}

.accordion-toggle.collapsed:after {
  content:url("https://img.icons8.com/ios-filled/24/000000/chevron-right.png");

}
