<p class="text-title">Configuration du site</p>

<div id="stepper1" class="bs-stepper">
  <div class="bs-stepper-header">
    <div class="step" data-target="#test-l-1">
      <button id="btnStep1" class="step-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Style</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-2">
      <button #step2 id="btnStep2" class="step-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Catégories</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-3">
      <button id="btnStep3" class="step-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Modules</span>
      </button>
    </div>
  </div>

  <div class="bs-stepper-content">
    <div id="test-l-1" class="content">
      <p>Thème du site :</p>
      <!-- couleur dropdown -->
      <div class='selectColor'>
        <p>Couleur principale :</p>
        <p-colorPicker id="colorPicker1"
                       class="colorPicker"
                       [(ngModel)]="configuration.colorPrimary">
        </p-colorPicker>
        <p>Couleur secondaire :</p>
        <p-colorPicker id="colorPicker2"
                       class="colorPicker"
                       [(ngModel)]="configuration.colorSecondary">
        </p-colorPicker>
        <p>Couleur secondaire 2 : </p>
        <p-colorPicker id="colorPicker3"
                       class="colorPicker"
                       [(ngModel)]="configuration.colorSecondary2"
        ></p-colorPicker>
      </div>

      <div class="row m-1">
        <div class="col-2">Logo du site :</div>
        <div class="col-10">
          <input style="width: 100%" id="inputLogo" type="text" [(ngModel)]="configuration.logo" placeholder="URL">
        </div>
      </div>

      <div class="row m-1">
        <div class="col-2">Nom du site :</div>
        <div class="col-10">
          <input style="width: 100%" id="inputName" type="text" [(ngModel)]="configuration.name" placeholder="Nom">
        </div>
      </div>

      <div class="row justify-content-end">
        <div class="col-2">
          <button (click)="next()"
                  type="button"
                  class="btn btnNav"
                  [ngStyle]="{'background-color': configuration.colorPrimary}">
            Suivant
          </button>
        </div>
      </div>
    </div>

    <!-- Step 2 configuration Web-->
    <div id="test-l-2" class="content">
      <h5>Configuration des catégories</h5>
      <div >
        <app-model *ngFor="let model of configuration.models;let i = index;"
                   [index]="i"
                   [modelindex]="i"
                   id="{{'model'+ i}}"
                   [model]="model"
                   (deleteModel)="deleteModel($event)"
        ></app-model>
        <br>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <button (click)="previous()"
                  type="button"
                  class="btn btnNav"
                  [ngStyle]="{'background-color': configuration.colorPrimary}">
            Précédant
          </button>
        </div>
        <div class="col-3">
          <button id="btnAddModel"
                  class="btn"
                  type="button"
                  (click)="addModel()"
                  [ngStyle]="{'background-color': configuration.colorPrimary}">
            Ajouter un modèle
          </button>
        </div>
        <div class="col-2">
          <button (click)="next()"
                  type="button"
                  class="btn btnNav"
                  [ngStyle]="{'background-color': configuration.colorPrimary}">
            Suivant
          </button>
        </div>

      </div>
    </div>

    <!-- Step 3 configuration Web-->
    <div id="test-l-3" class="content">
      <app-feature-switch></app-feature-switch>

      <div class="row justify-content-between">
        <div class="col-2">
          <button (click)="previous()"
                  type="button"
                  class="btn btnNav"
                  [ngStyle]="{'background-color': configuration.colorPrimary}">
            Précédant
          </button>
        </div>
        <div class="col-2">
          <button (click)="onSubmit()"
                  [disabled]="submitted"
                  type="button"
                  class="btn btnNav"
                  [ngStyle]="{'background-color': configuration.colorPrimary}"
                  id="btnNext">
            Valider
          </button>
        </div>
      </div>

    </div>

  </div>

</div>
