<p class="text-title">Configuration de CompareIT</p>

<div id="stepper1" class="bs-stepper">
  <div class="bs-stepper-header">
    <div class="step" data-target="#test-l-1">
      <button id="btnStep1" class="step-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Style</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-2">
      <button #step2 id="btnStep2" class="step-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Catégories</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step" data-target="#test-l-3">
      <button id="btnStep3" class="step-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Modules</span>
      </button>
    </div>
  </div>

  <div class="bs-stepper-content">
    <div id="test-l-1" class="content">
      <p>Thème du site</p>
      <!-- couleur dropdown -->
      <div class='selectColor'>
        <p>Couleur principale :</p>
        <p-colorPicker id="colorPicker1"
                       class="colorPicker"
                       [(ngModel)]="configuration.colorPrimary">
        </p-colorPicker>
        <p>Couleur secondaire :</p>
        <p-colorPicker id="colorPicker2"
                       class="colorPicker"
                       [(ngModel)]="configuration.colorSecondary">
        </p-colorPicker>
        <p>Couleur secondaire 2 : </p>
        <p-colorPicker id="colorPicker3"
                       class="colorPicker"
                       [(ngModel)]="configuration.colorSecondary2"
        ></p-colorPicker>
      </div>

      <!-- couleur dropdown -->
      <p>Logo du site :</p>
      <input id="inputLogo" type="text" size="70" [(ngModel)]="configuration.logo" placeholder="URL" pInputText>

      <div class="row justify-content-end">
        <div class="col-2">
          <button (click)="next()" type="button" class="btn btn-primary btnNav">Suivant</button>
        </div>
      </div>
    </div>

    <!-- Step 2 configuration Web-->
    <div id="test-l-2" class="content">
      <h5>Configuration des catégories</h5>
      <div >
        <app-model *ngFor="let model of configuration.models;let i = index;"
                   [index]="i"
                   [modelindex]="i"
                   id="{{'model'+ i}}"
                   [model]="model"
                   (deleteModel)="deleteModel($event)"
        ></app-model>

        <button id="btnAddModel"
                class="btn btn-primary"
                type="button"
                (click)="addModel()"
        >Ajouter un modèle
        </button>
      </div>




      <div class="row justify-content-between">
        <div class="col-2">
          <button (click)="previous()" type="button" class="btn btn-primary btnNav">Précédant</button>
        </div>
        <div class="col-2">
          <button (click)="next()" type="button" class="btn btn-primary btnNav">Suivant</button>
        </div>
      </div>
    </div>

    <!-- Step 3 configuration Web-->
    <div id="test-l-3" class="content text-center">
      <p class='text-label'>Activer l'analytique</p>
      <p-inputSwitch [(ngModel)]="configuration.featAnalytic"></p-inputSwitch>


      <div class="row justify-content-between">
        <div class="col-2">
          <button (click)="previous()" type="button" class="btn btn-primary btnNav">Précédant</button>
        </div>
        <div class="col-2">
          <button (click)="onSubmit()" [disabled]="submitted" type="button" class="btn btn-primary btnNav" id="btnNext">Valider</button>
        </div>
      </div>

    </div>

    <div *ngIf="showResult" class="text-center alert alert-success" role="alert">
      La configuration a bien été enregistrée.
    </div>
  </div>

</div>
