<div class="card m-1">
  <div class="row m-1">
    <div class="col-12 col-sm-8 col-md-2 col-lg-2 col-xl-2">
      <app-multi-select [options]="cities1" [(ngModel)]="selectedCities1"></app-multi-select>
    </div>
    <div class="col-12 col-sm-8 col-md-2 col-lg-2 col-xl-2">
      <app-multi-select [options]="cities1" [(ngModel)]="selectedCities1"></app-multi-select>
    </div>
    <div class="col-12 col-sm-8 col-md-2 col-lg-2 col-xl-2">
      <app-multi-select [options]="cities1" [(ngModel)]="selectedCities1"></app-multi-select>
    </div>
    <div class="col-12 col-sm-8 col-md-2 col-lg-2 col-xl-2">
      <app-slider [(ngModel)]="val" [range]="true" [min]="0" [max]="100"></app-slider>
    </div>
  </div>
</div>
