<div class="card">

  <div class="card-body">
    <div class="row m-1">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-1" *ngFor="let property of model.filterableProperties">
        <app-abstract-filter [property]="property"></app-abstract-filter>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="row m-1 justify-content-between">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-1">
        <app-dropdown
          [options]="orderOptions"
          [(ngModel)]="order"
          [autofocus]="true"
          [ngStyle]="{'width': '100%'}"
        ></app-dropdown>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-1"></div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-1">
        <button *ngIf="config.currentConfig.featSaveFilter && authenticationService.isAuthenticated()"
                type="button"
                class="btn float-right"
                [ngStyle]="{'background-color': config.colorPrimary, 'width': '25%'}"
                (click)="save()"
        >
          <i class="fas fa-save" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 my-1">
       <button type="button"
                class="btn"
                [ngStyle]="{'background-color': config.colorPrimary, 'width': '100%'}"
                (click)="search()"
        >Rechercher
        </button>
      </div>
    </div>
  </div>

</div>
