<section>
  <div class="container">
    <div class="row m-1 justify-content-center">
      <div class="col-12 col-sm-12 col-md-3 my-1">
        <a target="_blank" href="http://comparit.github.io/">Landing Page</a>
      </div>
      <div class="col-12 col-sm-12 col-md-3 my-1">
        <a href="mailto:{{config.currentConfig.mail}}" target="_top">Contact mail</a>
      </div>
      <div class="col-12 col-sm-12 col-md-3 my-1">
        <a target="_blank" [href]="apiURL">API Fournisseurs</a>
      </div>
      <div class="col-12 col-sm-12 col-md-3 my-1">
        © DevelopIT 2020
      </div>
    </div>
  </div>
</section>
