<div class="container my-2">
  <section>
    <app-top-filter [model]="model" (searchEvent)="search($event)" (saveFilterEvent)="saveFilter($event)"></app-top-filter>
  </section>
</div>

<div class="container my-5">


  <div class="d-flex justify-content-center" *ngIf="!productPagineDTO">
    <div class="spinner-border"
         [ngStyle]="{'color': this.conf.currentConfig.colorPrimary}"
         role="status">
      <span class="sr-only">Chargement...</span>
    </div>
  </div>

  <section *ngIf="this.productPagineDTO">
    <app-resume-product
      *ngFor="let product of productPagineDTO.productsToDisplay | slice:(productPagineDTO.pageActuelle) * 10 : (productPagineDTO.pageActuelle) * 10 + productPagineDTO.productsPerPage"
      [product]=product
      [model]=model>
    </app-resume-product>
    <app-paginator
      [rows]="productPagineDTO.productsPerPage"
      [totalRecords]="productPagineDTO.productsToDisplay.length"
      [rowsPerPageOptions]="[10,20,30,40,50]"
      (onPageChange)="paginate($event)">
    </app-paginator>
  </section>
</div>
