<div class="container my-2">
  <section>
    <app-top-filter [model]="model" (searchEvent)="search($event)" (saveFilterEvent)="saveFilter($event)"></app-top-filter>
  </section>
</div>

<div class="container my-5">


  <div class="d-flex justify-content-center" *ngIf="!productPagineDTO">
    <div class="spinner-border"
         [ngStyle]="{'color': this.conf.currentConfig.colorPrimary}"
         role="status">
      <span class="sr-only">Chargement...</span>
    </div>
  </div>

  <section *ngIf="this.productPagineDTO" [ngStyle]="{marginBottom: '6em'}">
    <app-resume-product
      *ngFor="let product of productPagineDTO.productsToDisplay | slice:(productPagineDTO.pageActuelle) * 10 : (productPagineDTO.pageActuelle) * 10 + productPagineDTO.productsPerPage"
      [product]=product
      [model]=model
      (selectForComparison)="addProductToComparison($event)">
    </app-resume-product>
    <app-paginator
      [rows]="productPagineDTO.productsPerPage"
      [totalRecords]="productPagineDTO.productsToDisplay.length"
      [rowsPerPageOptions]="[10,20,30,40,50]"
      (onPageChange)="paginate($event)">
    </app-paginator>
  </section>

  <div class="fixed-bottom"
       [ngStyle]="{
        margin: '1em',
        borderWidth: '1px', borderColor: this.conf.colorPrimary, borderStyle: 'solid', borderRadius: '0.25em',
        backgroundColor: 'white'
       }"
       *ngIf="compareProducts.length !== 0">
    <div class="row m-1 justify-content-between" [ngStyle]="{textAlign: 'center'}" >
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 my-1">
       Produits selectionnés :
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 my-1" *ngIf="compareProducts.length === 1">
        {{ compareProducts.length }} produit sélectionné
      </div>

      <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 my-1" *ngIf="compareProducts.length !== 1">
        {{ compareProducts.length }} produits sélectionnés
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 my-1">
        <button type="button"
                class="btn mb-2"
                (click)="runComparison()"
                [ngStyle]="{'background-color': conf.colorPrimary, 'width': '74%', marginRight: '1%'}"
        >Comparer <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </button>
        <button type="button"
                class="btn mb-2"
                (click)="resetComparison()"
                [ngStyle]="{'background-color': conf.colorPrimary, 'width': '25%'}"
        ><i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>

    </div>
  </div>

</div>
