<div class="container my-2">
  <section>
    <app-top-filter [model]="model" (searchEvent)="search()"></app-top-filter>
  </section>
</div>

<div class="container my-5">
  <section *ngIf="this.productPagineDTO">
    <app-resume-product *ngFor="let product of products | slice:(productPagineDTO.pageActuelle)*10:(productPagineDTO.pageActuelle+1)*10" [product]=product></app-resume-product>
    <app-paginator [rows]="10" [totalRecords]="productPagineDTO.productsToDisplay.length" [rowsPerPageOptions]="[10,20,30,40,50]" (onPageChange)="paginate($event)"></app-paginator>
  </section>
</div>
