<div class="container">
  <p>upload CSV!</p>
  <div class="alert alert-danger" role="alert">
    ATTENTION: Max File size 10 Mo
  </div>
  <div class="alert alert-primary" role="alert">
    Convention de nommage:
    Fichier extension : .csv
    Nom du fichier: Type produit exemple phones.csv
  </div>
  <p-dropdown [options]="types" [(ngModel)]="selectedType"></p-dropdown>
  <ng-template [ngIf]="selectedType"><div>
    <p-fileUpload (change)="upload($event)" name="files" url="{url()}" multiple="false" accept="text/csv" maxFileSize="10000000"></p-fileUpload>
  </div></ng-template>
</div>
