<div>
    <div style="margin:10px auto;width:360px;">
      <div class="p-xl-3 p-lg-6 p-md-8 p-sm-10">
        <form [formGroup]="userform" (ngSubmit)="onClickRegisterUser()">
          <p-panel header="User Registration" >
            <div >
              <div >
                <img style="margin:0 auto;width:300px;" src="../../assets/images/logo-large.png" class="login-logo">
              </div>
            <!-- first Name  -->
              <div class="col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                  <input id="float-input-fistname" type="text" size="30" pInputText formControlName="firstname"
                    placeholder="user firstname" required [(ngModel)]="user.firstname">
                </div>
              </div>
              <div class="col-12" *ngIf="userform.controls['firstname'].errors && userform.controls['firstname'].dirty">
                <p-message severity="error" text="User firstname is required"
                  *ngIf="userform.controls['firstname'].errors['required']"></p-message>
              </div>
            <!-- first Name  -->
            <!-- last Name  -->
              <div class="col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                  <input id="float-input-lastname" type="text" size="30" pInputText formControlName="lastname"
                    placeholder="user lastname" required [(ngModel)]="user.lastname">
                </div>
              </div>
              <div class="col-12" *ngIf="userform.controls['lastname'].errors && userform.controls['lastname'].dirty">
                <p-message severity="error" text="User lastname is required"
                  *ngIf="userform.controls['lastname'].errors['required']"></p-message>
              </div>
            <!-- last Name  -->

              <div class="col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                  <input id="float-input-password" type="password" size="30" pInputText formControlName="password"
                    placeholder="password" required [(ngModel)]="user.password">
                </div>
              </div>
              <div class="col-12" *ngIf="userform.controls['password'].errors && userform.controls['password'].dirty">
                <p-message severity="error" text="Password is required"
                  *ngIf="userform.controls['password'].errors['required']"></p-message>
                <p-message severity="error" text="Minimum 6 characters required."
                  *ngIf="userform.controls['password'].errors['minlength'] "></p-message>
              </div>
              <div class="col-12">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon"><i class="fa fa-at"></i></span>
                  <input id="float-input-email" type="email" size="30" pInputText formControlName="email"
                    placeholder="Email" required [(ngModel)]="user.email">
                </div>
              </div>
              <div class="col-12" *ngIf="userform.controls['email'].errors && userform.controls['email'].dirty">
                <p-message severity="error" text="Email is required"
                  *ngIf="userform.controls['email'].errors['required']"></p-message>
                <p-message severity="error" text="Email is invalid" *ngIf="userform.controls['email'].errors['email']">
                </p-message>
              </div>          
            </div>
            <div style="display:grid;">
              <div class="col-6">
                <button pButton type="button" label="Register" class="ui-button-raised"
                (click)="onClickRegisterUser()" [disabled]="!userform.valid"></button>
              </div>
              <div class="col-6">
                <button pButton type="button" label="Login" class="ui-button-raised"
                (click)="onClickGoToLogin()"></button>
              </div>
            </div>
          </p-panel>
        </form>
      </div>
    </div>
  </div>
